.containerAdmin {
    display: flex;
  }
  
  .containerAdmin .options {
    flex: 0 0 auto; 
    width: 200px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .containerAdmin .options button {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    height: 50px;
    margin: 10px;
  }
  
  .containerAdmin .content {
    flex: 1 1 auto;
    overflow-x: auto;
  }
  .containerAdmin .content input {
    width: 300px;
  }
  