.navbar {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px #262626;
    background-color: white;
    flex-wrap: wrap;
}
.navbar div {
    margin: 0px 20px;
}
.rent {
    display: flex;
    align-items: center;
    color: #262626;
    font-size: 25px;
    gap:10px;
}
.rent button {
    background-color: white;
    border: 1px solid #262626;
    padding: 10px;
    cursor: pointer;
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p {
    color: #262626;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262 ;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.log-in-out {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
    flex-wrap: wrap;
}
.log-in-out .in {
    border: 1px solid #262626;
    background-color: white;
    padding: 8px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.log-in-out .up {
    background-color: #262626;
    color: white;
    border:1px solid rgb(255, 255, 255) ;
    padding: 8px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.response {
    color: red;
}