.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50dvh;
    width: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure it appears above other content */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  .popup input {
    padding: 10px;
    width: 100%;
  }
  .popup button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }
  